# Python
__pycache__/
*.pyc
.venv/
.uv-cache/
.uv-python/

# Data
data/
datasets/

# Model weights
checkpoints/
*.pth
*.pt
*.pkl
*.ckpt

# Outputs
outputs/
runs/
wandb/
mlruns/

# OS / Editor
.DS_Store
.vscode/
